* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

.padding {
  padding: clamp(40px, 8vw, 80px) 15px !important;
}

.Whitesmoke {
  background-color: whitesmoke;
}

.borderGray {
  border: 1px solid gray;
  border-radius: 3px;
}

/* =========================== ParentNav.jsx ========================================= */

.logo {
  letter-spacing: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}

.logo span {
  padding: 4px;
}

.btn-nav {
  padding: 2px 35px;
  border-radius: 7px;
  background-color: black;
  outline: none;
  border: none;
}

.hover-all:hover {
  transform: scale(1.1);
  transition: 0.7s;
  font-weight: 800;
  background-color: #808080;
}

/* ======================= CozyMain.jsx ========================================== */

.img-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  z-index: 1;
}

.hero-parent {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-child {
  width: 100%;
  z-index: 1;
  padding: 0px 18px;
}

.cozy-title {
  font-size: clamp(2.5rem, 8vw, 5.7rem);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.cozy-para {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  max-width: 800px;
  margin: 0 auto;
}

.btn-main {
  padding: 12px 35px;
  background-color: white;
  color: black !important;
  outline: none;
  border: none;
  text-align: center;
}

.btn-main:hover {
  background-color: #808080;
  color: white !important;
}

/* ============= CheckInOut.jsx ============================================ */

.check-in-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
}

.checkIn {
  background-color: white;
  position: relative;
  margin-top: -80px;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.btnCheck {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 7px;
  font-weight: 700;
  transition: 0.5s;
  font-size: 18px;
}

.btnCheck:hover {
  background-color: #333;
}

@media (min-width: 992px) {
  .checkIn {
    padding: 30px !important;
  }

  .border-end-lg {
    border-right: 2px solid #eee;
  }
}

@media (max-width: 991px) {
  .checkIn {
    margin-top: 20px;
    text-align: center;
  }
}

/* =================== .CozyResort.jsx ======================================= */

.cozyResortWrapper {
  position: relative;
  min-height: 400px;
  overflow: hidden;
  background-color: #000;
}

.resort-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}

.brightness-low {
  filter: brightness(60%) !important;
}

.cozyResortMain2 {
  position: absolute;
  top: 0;
  /* Desktop pe sirf beech mein rakhne ke liye logic */
  left: 50%;
  transform: translateX(-50%);
  width: 33.33%;
  /* Sirf ek image ke barabar width */
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  pointer-events: none;
}

.cozyResortChild1 {
  font-weight: 700;
  font-size: 0.8rem;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.cozyResortChild2 {
  font-weight: 600;
  font-size: clamp(1.4rem, 3vw, 3rem);
  line-height: 1.3;
  color: #fff;
  margin: 10px 0;
}

.cozyResortChild3 {
  pointer-events: auto;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.5s;
  margin-top: 10px;
}

.cozyResortChild3:hover {
  transform: scale(1.05);
  color: white;
  background-color: gray;
}

.cozyResortWrapper .row {
  filter: brightness(80%);
}

@media (max-width: 767px) {
  .resort-img {
    height: 350px;
  }

  .cozyResortMain2 {
    width: 100%;
  }

  .cozyResortChild1 {
    font-size: 12px;
  }

  .cozyResortChild2 {
    font-size: 28px;
  }

  .cozyResortChild3 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .resort-img {
    height: 500px;
  }

  .cozyResortChild2 {
    font-size: 2.4rem !important;
  }

  .cozyResortChild3 {
    font-size: 16px;
  }
}

/* ============== CozyRoom.jsx ========================================================= */

.cozyRoom1 {
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 15px 0px;
}

.cozyRoom2 {
  font-weight: 600;
  font-size: 4rem;
}

.cozyRoom3 {
  width: 50%;
  margin: 25px 0px;
  font-size: 1.1rem;
}

.RoomPara {
  padding-top: 12px;
  margin: 2px;
  font-weight: 400;
}

.RoomBtn {
  padding: 10px 20px;
  border-radius: 7px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  margin-left: 5px;
  margin-bottom: 5px;
}

.RoomBtn:hover {
  transform: scale(1.1);
  transition: 0.7s;
  font-weight: 600;
  background-color: gray;
}

.img-5,
.img-6,
.img-7 {
  cursor: pointer;
}

.RoomPrice {
  position: absolute;
  top: 1.7rem;
  left: 1.5rem;
  color: black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.RoomPrice:hover {
  cursor: pointer;
}

.RoomTitle {
  font-size: 1.9rem;
  font-weight: 500;
}

/* ==================== Services.jsx =================================================== */

.servicesMain {
  background-color: gray;
}

.w-30 {
  background-color: gray !important;
  width: 30% !important;
}

/* ======================= Activity.jsx ============================================ */

.activityTitle1 {
  font-size: 55px;
  padding: 5px 0px;
}

.img-9 {
  filter: brightness(70%);
  width: 100%;
}

.activitySpan {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 7px;
}

.activityTitle {
  font-size: 2rem;
}

.activityBtn {
  color: black;
  border-radius: 7px;
  padding: 10px 18px;
  font-weight: 700;
  background-color: white;
  border: none;
}

.activityBtn:hover {
  background-color: gray;
  transform: scale(1.1);
  transition: 0.7s;
  color: white;
}

.activityMainCard {
  top: 25rem;
  color: white;
}

.activityParaParent {
  width: 60%;
  margin: 0px 270px;
}

.activityPara {
  font-size: 1.5rem;
}

.activityBtn2 {
  border: none;
  outline: none;
  padding: 12px 30px;
  background-color: black;
}

.activityBtn2:hover {
  background-color: gray;
  transform: scale(1.1);
  transition: 0.7s;
  color: white;
}

/* ==================== Review.jsx ====================================================== */

.img-11 {
  filter: brightness(40%);
  width: 100%;
  height: 520px;
  object-fit: cover;
}

.reviewMain {
  position: absolute;
  color: white;
  top: 293rem;
}

.reviewPara {
  font-size: 1.5rem;
  width: 48%;
  margin-left: 400px;
  text-align: center;
}

.reviewName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.fontSmall {
  font-size: 0.9rem;
}

.reviewInputMain {
  margin: 70px 0px;
}

.reviewEmail {
  border: none;
}

.reviewBtn {
  border: none;
  background-color: #fff;
  font-weight: 500;
  margin-left: 350px;
}

.reviewA {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: inline;
  margin-left: 7px;
}

.reviewCheckbox {
  margin-right: 10px;
}

.reviewImages {
  height: 300px;
}

.reviewBtn2 {
  padding: 15px 50px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 1.1rem;
}

.reviewBtn2:hover {
  background-color: gray;
  transform: scale(1.1);
  transition: 0.7s;
  color: white;
}

/* ========================= Footer.jsx ========================================================= */

.img-15 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: top;
  filter: brightness(40%);
  background-color: gray;
}

.footerMain {
  position: absolute;
  top: 0.3rem;
  margin: 0px 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerChild1 {
  width: 33%;
  margin-right: 80px;
}

.footerChild2 {
  color: white;
}

.footerChild2 ul li a {
  color: white;
  text-decoration: none;
}

.footerChild3 ul li a {
  color: white;
  text-decoration: none;
}

.footerChild2 h3 {
  margin-top: 35px;
}

.footerChild3 h3 {
  margin-top: 35px;
}

.footerChild2 ul {
  margin-top: 15px;
  padding-left: 0px;
}

.footerChild3 ul {
  margin-top: 15px;
  padding-left: 0px;
}

.footerChild2 ul li {
  margin: 3px 0px;
}

.footerChild3 ul li {
  margin: 3px 0px;
}

.footerChild3 {
  margin-left: 100px;
}

.footerChild4 {
  margin-top: 30px;
  margin-left: 100px;
}

.footerChild4 p {
  margin: 7px;
}

.footerChild4 h3 {
  margin-left: 7px;
  margin-bottom: 15px;
}

.footerChild4_P4 {
  padding-top: 10px;
  text-decoration: underline;
}

.footBottom2 li a {
  color: white;
  text-decoration: none;
}

.footBottom2 {
  margin-left: 600px;
}

.footBottom2 a:hover {
  transition: 0.7s;
  color: gray !important;
}

.footBottom {
  color: white;
  padding: 40px 0px;
  background-color: #121212;
}

.imgHover:hover .img-5 {
  transform: scale(1.1);
  transition: 0.7s;
}

.imgHover:hover .img-6 {
  transform: scale(1.1);
  transition: 0.7s;
}

.imgHover:hover .img-7 {
  transform: scale(1.1);
  transition: 0.7s;
}

.imgHover:hover .img-8 {
  transform: scale(1.1);
  transition: 0.7s;
}

.imgHover:hover .img-10 {
  transform: scale(1.1);
  transition: 0.7s;
}

.imgHover:hover .img-9 {
  transform: scale(1.1);
  transition: 0.7s;
}