* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

.padding {
  padding: 60px 15px !important;
}

.Whitesmoke {
  background-color: whitesmoke;
}

.borderGray {
  border: 1px solid gray;
  border-radius: 3px;
}

/* =========================== ParentNav.jsx ========================================= */

.logo {
  letter-spacing: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn-nav {
  margin: 3px;
  padding: 2px 35px;
  border-radius: 7px;
  background-color: black;
  outline: none;
  border: none;
}

.hover-all:hover {
  transform: scale(1.1);
  transition: 0.7s;
  font-weight: 800;
  background-color: gray;
}

/* ======================= CozyMain.jsx ========================================== */

.img-1 {
  object-fit: cover;
  width: 100%;
  filter: brightness(70%);
}

.cozy-main {
  position: absolute;
  top: 40%;
  left: 6%;
}

.cozy-title {
  font-size: 5.7rem;
  text-align: center;
  /* margin-left: 150px; */
}

.cozy-para {
  font-size: 1.3rem;
  font-weight: 600;
  /* margin-left: 150px; */
}

.btn-main {
  padding: 12px 35px;
  background-color: white;
  outline: none;
  border: none;
  text-align: center;
}

.btn-main {
  color: black !important;
  /* margin-left: 150px; */
}

.btn-main:hover {
  color: white !important;
}

/* ============= CheckInOut.jsx ============================================ */

.btnCheck {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  margin: 2px;
  font-weight: 700;
  padding: 15px 50px;
  border-radius: 7px;
  font-size: 17px;
}

.btnCheck:hover {
  transform: scale(1.1);
  transition: 0.7s;
  font-weight: 700;
  background-color: gray;
}

.checkIn {
  margin-left: 100px;
  background-color: white;
  position: absolute;
  top: 95%;
}

/* =================== .CozyResort.jsx ======================================= */

.img-2 {
  object-fit: cover;
  width: 33.33%;
}

.img-4 {
  object-fit: cover;
  width: 33.33%;
  filter: brightness(60%);
}

.img-3 {
  object-fit: cover;
  width: 33.33%;
}

.cozyResortMain {
  padding: 0px;
}

.cozyResortMain2 {
  position: absolute;
  width: 30%;
  top: 68rem;
  left: 35%;
}

.cozyResortChild1 {
  font-weight: 600;
  font-size: 1.1rem;
}

.cozyResortChild2 {
  font-weight: 400;
  font-size: 3.5rem;
}

.cozyResortChild3 {
  font-weight: 700;
  font-size: 1.2rem;
  background-color: white;
  color: black;
  padding: 15px 25px;
  margin: 0px 120px;
  border-radius: 7px;
}

.cozyResortChild3:hover {
  transform: scale(1.1);
  transition: 0.7s;
  background-color: gray;
  color: white;
  cursor: pointer;
}

/* ============== CozyRoom.jsx ========================================================= */

.cozyRoom1 {
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 15px 0px;
}

.cozyRoom2 {
  font-weight: 600;
  font-size: 4rem;
}

.cozyRoom3 {
  width: 50%;
  margin: 25px 0px;
  font-size: 1.1rem;
}

.RoomPara {
  padding-top: 12px;
  margin: 2px;
  font-weight: 400;
}

.RoomBtn {
  padding: 10px 20px;
  border-radius: 7px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  margin-left: 5px;
  margin-bottom: 5px;
}

.RoomBtn:hover {
  transform: scale(1.1);
  transition: 0.7s;
  font-weight: 600;
  background-color: gray;
}

.img-5,
.img-6,
.img-7 {
  cursor: pointer;
}

.RoomPrice {
  position: absolute;
  top: 1.7rem;
  left: 1.5rem;
  color: black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.RoomPrice:hover {
  cursor: pointer;
}

.RoomTitle {
  font-size: 1.9rem;
  font-weight: 500;
}

/* ==================== Services.jsx =================================================== */

.servicesMain {
  background-color: gray;
}

.w-30 {
  background-color: gray !important;
  width: 30% !important;
}

/* ======================= Activity.jsx ============================================ */

.activityTitle1 {
  font-size: 55px;
  padding: 5px 0px;
}

.img-9 {
  filter: brightness(70%);
  width: 100%;
}

.activitySpan {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 7px;
}

.activityTitle {
  font-size: 2rem;
}

.activityBtn {
  color: black;
  border-radius: 7px;
  padding: 10px 18px;
  font-weight: 700;
  background-color: white;
  border: none;
}

.activityBtn:hover {
  background-color: gray;
  transform: scale(1.1);
  transition: 0.7s;
  color: white;
}

.activityMainCard {
  top: 25rem;
  color: white;
}

.activityParaParent {
  width: 60%;
  margin: 0px 270px;
}

.activityPara {
  font-size: 1.5rem;
}

.activityBtn2 {
  border: none;
  outline: none;
  padding: 12px 30px;
  background-color: black;
}

.activityBtn2:hover {
  background-color: gray;
  transform: scale(1.1);
  transition: 0.7s;
  color: white;
}

/* ==================== Review.jsx ====================================================== */

.img-11 {
  filter: brightness(40%);
  width: 100%;
  height: 520px;
  object-fit: cover;
}

.reviewMain {
  position: absolute;
  color: white;
  top: 293rem;
}

.reviewPara {
  font-size: 1.5rem;
  width: 48%;
  margin-left: 400px;
  text-align: center;
}

.reviewName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.fontSmall {
  font-size: 0.9rem;
}

.reviewInputMain {
  margin: 70px 0px;
}

.reviewEmail {
  border: none;
}

.reviewBtn {
  border: none;
  background-color: #fff;
  font-weight: 500;
  margin-left: 350px;
}

.reviewA {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: inline;
  margin-left: 7px;
}

.reviewCheckbox {
  margin-right: 10px;
}

.reviewImages {
  height: 300px;
}

.reviewBtn2 {
  padding: 15px 50px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 1.1rem;
}

.reviewBtn2:hover {
  background-color: gray;
  transform: scale(1.1);
  transition: 0.7s;
  color: white;
}

/* ========================= Footer.jsx ========================================================= */

.img-15 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: top;
  filter: brightness(40%);
  background-color: gray;
}

.footerMain {
  position: absolute;
  top: 0.3rem;
  margin: 0px 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerChild1 {
  width: 33%;
  margin-right: 80px;
}

.footerChild2 {
  color: white;
}

.footerChild2 ul li a {
  color: white;
  text-decoration: none;
}

.footerChild3 ul li a {
  color: white;
  text-decoration: none;
}

.footerChild2 h3 {
  margin-top: 35px;
}

.footerChild3 h3 {
  margin-top: 35px;
}

.footerChild2 ul {
  margin-top: 15px;
  padding-left: 0px;
}

.footerChild3 ul {
  margin-top: 15px;
  padding-left: 0px;
}

.footerChild2 ul li {
  margin: 3px 0px;
}

.footerChild3 ul li {
  margin: 3px 0px;
}

.footerChild3 {
  margin-left: 100px;
}

.footerChild4 {
  margin-top: 30px;
  margin-left: 100px;
}

.footerChild4 p {
  margin: 7px;
}

.footerChild4 h3 {
  margin-left: 7px;
  margin-bottom: 15px;
}

.footerChild4_P4 {
  padding-top: 10px;
  text-decoration: underline;
}

.footBottom2 li a {
  color: white;
  text-decoration: none;
}

.footBottom2 {
  margin-left: 600px;
}

.footBottom2 a:hover {
  transition: 0.7s;
  color: gray !important;
}

.footBottom {
  color: white;
  padding: 40px 0px;
  background-color: #121212;
}

.imgHover:hover .img-5 {
  transform: scale(1.1);
  transition: 0.7s;
}

.imgHover:hover .img-6 {
  transform: scale(1.1);
  transition: 0.7s;
}

.imgHover:hover .img-7 {
  transform: scale(1.1);
  transition: 0.7s;
}

.imgHover:hover .img-8 {
  transform: scale(1.1);
  transition: 0.7s;
}

.imgHover:hover .img-10 {
  transform: scale(1.1);
  transition: 0.7s;
}

.imgHover:hover .img-9 {
  transform: scale(1.1);
  transition: 0.7s;
} 

